* {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10px; 
}

body {
    background-color: rgb(250, 248, 248);

}

main{
    background-color: rgb(224, 215, 215);
    width: 100%;
    margin: auto;
    pad: 10px;
    box-shadow: 5px 5px 5px rgba(26, 24, 24, 0.582);
}

img{
    width: 35%;
    margin-block-start: Edge 79, Firefox 41, Safari 12, Chrome 69, Opera 56;
    margin-inline-start: Edge 79, Firefox 41, Safari 12, Chrome 69, Opera 56;
    border-radius: 100%;
    }
    
    h1{
        font-style: italic;
        color: rgb(8, 8, 8);
        margin-left: 30px;
        
    }

    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;;
    }

    li {        
        float: left;
      }    
      
     li a {
        display: block;
        color: white;
        text-align: left;
        padding: 20px 30px;
        text-decoration: none;   
        font-size: large;  
      }

      li a:hover{
          background-color: rgba(202, 187, 51, 0.356);
      }
      
      

      

      
      

      
    
      

      